body {
    margin: 0;
    font-family: Arial;
    background: #f6f6f6;
}

.container {
    display: flex;
    width: 80%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    gap: 30px;
}

.product-image img {
    width: 400px;
    border-radius: 10px;
}

.product-details h1 {
    margin-top: 0;
}

.price {
    color: green;
    font-size: 24px;
    font-weight: bold;
}

button {
    background: #ff6600;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #cc5200;
}
